.login-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}

.login-box button
{
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}

.login-box h1 {
    letter-spacing: 0.5vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.login-box #phone-input input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.login-box input{
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
body{
    background-color: aqua;
    margin:0;
    padding:0;
        
}